<h1 data-id="<%= @this_menu.id %>"><%= @this_menu.name%></h1>

<select id='select_item'>
  <option>Select an Option</option>
  <% @items.each do |item| %>
    <option name='item'><%= item.name+' '+item.price %></option>
  <%end%>
</select>

<ul id='menu_items'>
  <% @menu_items.each do |item| %>
    <li><%= item.name + ' ' + item.price %><input class='item' data-id='<%= item.id %>' type='submit' value='Delete'></li>
  <% end %>
</ul>