<div class="bullshit">

<h2>the <a href="/menus/update/<%= @menu.id %>"><%= @menu.name %></a> menu</h2>

  <div id="items_list">
    
      <% @items.each do |item| %>
      <p><input class="button-d" type="submit" action="/menus/update/<%= item.id %>" method="post" value="X">   <%= item.name %> - <%= item.price %></p>
      <% end %>

  </div>


  <input class="button-d" type="submit" action="/menus/update/<%= @item.id %>" method="post" value="XXXXX">
</div>

