<div class="bullshit">

<h2>the <a href="/menus/update/<%= @menu.id %>"><%= @menu.name %></a> menu</h2>

  <div id="items_list">
    
    <% @items.each do |item| %>
      <form class="new-item" action="/menuitem/delete/<%= item.id %>" method="post">
        <input type="hidden" name="menu[id]" value="<%= @menu.id %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" class="button-d" value="X">   
        <%= item.name %> - <%= item.price %>
      </form>
    <% end %>

  </div>


</div>

