<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <a href="/">Go Home!</a>
  <%= yield %>

  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Stuff that shows up on every page via Layout!</h1>
  <h2>List of Menus!</h2>
    <% Menu.all.each do |menu| %>
      <p><a href="/menus/<%= menu.id %>"><%= menu.name %></a></p>
    <% end %>

  <h2>List of Items!</h2>
    <% Item.all.each do |item| %>
      <p><%= item.name %></p>
    <% end %>

  <h2>List of Items and Prices for each Menu!</h2>
  <% ItemsMenu.all.each do |items_menu| %>
  <p><%= "For #{Menu.find_by_id(items_menu.menu_id).name}, you can have #{Item.find_by_id(items_menu.item_id).name} for just $#{items_menu.price}!!!" %></p>
<% end %>
</body>
</html>
