<h1><%= "Here you can add items to the #{Menu.find_by_id(params[:id]).name} menu!" %></h1>

<a href="/items">Add Items</a>
<a href="/menus/new">Add Menus</a>

<h2>Items</h2>

<form action="/menus/<%= params[:id] %>" method="post">
  <select name="menu_items">
    <% Item.all.each do |item| %>
      <option value="<%= item.name %>"><%= item.name %></option>
    <% end %>
  </select>

  <label>Price: </label>
  <input type="text" name="price">
  <input type="submit" value="Add Menu Item!">
  <!-- How could you make it such that it would automatically submit the form (or no form, just dropdown), when something was selected? -->
</form>

<% p "Hello mother fucker...#{ItemsMenu.find_by_menu_id(params[:id])}" %>
<% p "Hello dude...#{ItemsMenu.find(:all, :conditions => { :menu_id => params[:id] })}" %>

<% ItemsMenu.find(:all, :conditions => { :menu_id => params[:id] }).each do |items_menu| %>
  <p><%= "For #{Menu.find_by_id(items_menu.menu_id).name}, you can have #{Item.find_by_id(items_menu.item_id).name} for just $#{items_menu.price}!!!" %></p>
<% end %>

