<div class="container">
  <h1><%=@menu.name%> Menu</h1>
  
  <% @menu.items.each do |item| %>
  <div class="item-wrapper">
    <a class="deletebtn" href="/menu/<%=@menu.id%>/item/<%=item.id%>/delete">x</a>
    <h3 id="<%item.id%>"><%= item.name %></h3>
  </div>
  <% end %>
  <div class="newitem"></div>

  <select data-menuid=<%=@menu.id%> id="item-select" name="items">
    <option>Menu Items</option>
    <% @items.each do |item| %>
    <option value="<%=item.id%>"><%=item.name%></option>
    <% end %>
  </select>
</div>
