  <div class="container">
   <h1> Add Items to Your Menu<h3>
    <%@items.each do |element|   %>
    <%= element.price %> <%= element.description %>   <br>
    <%end%>

    <h3> <%=@menu.description%> </h3>
    <% @menu.items.each do |item| %>
    <div class="menu_items">
      <span class="delete-button">
        <a href="#">[x]</a>
      </span>
      <span class= "item <%= item.id %>">
        <%= item.name %> - <%= item.price %>
      </span>
    </div>
    <% end %>

    <div id="menu-id" data-menu="<%=@menu.id%>"></div>

    <div class ="Listitems"> 

    </div> 
    <h3> ----------------------------------<h3>
      <div class ="all-items"> Menu Items </div> 
      <select> 
        <%@every_item.each do |element| %> 
        <option value = "<%=element.id%>">
         <%= element.price %> <%= element.description%> <br> 
       </option>
       <%end%>
       <select>
       </div>
