
<h3 class="menu_title"><%= @menu.name %></h3>
<br>

<div class="items">Items</div>
	<% @menu.items.each do |item| %>
		<div class="menu_items">
			<span class="delete-button">
				<a href="#" onclick="alert('deleting...');">[x]</a>
			</span>
  		<span class= "item <%= item.id %>">
  			<%= item.name %> - <%= item.price %>
  		</span>
  	</div>
  <% end %>
</div>

<h4>Add an item to the menu</h4>
<ul class="menu_listings">

</ul>

<select title="Menu Items" name="Menu_Items" class="items">
	<% @items.each do |item| %>
  	<option value="<%= item.id %>" id="options" onclick="getOption()"> <%= item.name %></option>
  <% end %>
</select>


